@import 'globals';

$md-primary-color: $md-indigo-500;
$md-secondary-color: $md-indigo-a-200;

@include react-md-everything;

body {
  margin: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.btn-submit {
  position: fixed;
  right: 0;
  width: 25%;
}

TextField {
	height: 10px;
}

.form-container {
  // margin-bottom: 10vh;
}
.md-text-field--help {
	font-size: 20px;
	float: right;
}
label {
	font-size: 50px;
}
.md-selection-control-label {
	font-size: 1.5vw;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}